@{
    ViewBag.Title = "Klienci";
}

<h3>Lista Klientów</h3>
<table>
    <head>
        <title>Klienci</title>
        <style type="text/css">
            table {
                border-collapse: collapse;
                width 1000px;
            }

            td {
                border: 2px solid #000000;
                padding: 5px;
            }
        </style>
    </head>
    <tbody>
        <tr class="header">
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Pesel</td>
            <td>Nr konta</td>
            <td>Stan konta</td>
            <td>Lokaty</td>
        </tr>
        @for (var j = 0; j < 4; j++)
        {
            <tr>
                <td>aaaa</td>
                <td>aaaa</td>
                <td>aaaa</td>
                <td>aaaa</td>
                <td>aaaa</td>
                <td>aaaa</td>
            </tr>
        }
    </tbody>
</table>
