@{
    ViewBag.Title = "Klienci";
}

<h3>Lista zgłoszeń</h3>
<table>
    <head>
        <title>Klienci</title>
        <style type="text/css">
            table {
                border-collapse: collapse;
                width 1000px;
            }

            td {
                border: 2px solid #000000;
                padding: 5px;
            }
        </style>
    </head>
    <tbody>
        <tr class="header">
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Nick</td>
            <td>Wiadomość</td>
            <td>Data</td>
            <td>Zgłoszenie załatwione</td>
        </tr>
        @for (var j = 0; j < 1; j++)
        {
            <tr>
                <td>Michał</td>
                <td>Kos</td>
                <td>mk</td>
                <td>Nie mogę zlecić przelewu</td>
                <td>14-01-2016</td>
                <td><button type="button">Potwierdź</button></td>
            </tr>
        }
    </tbody>
</table>
