@{
    ViewBag.Title = "Strona Startowa";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>To jest nasz wspaniały bank</h3>
<ol class="round">
    <li class="one">
        <h5>Darmowe przelewy</h5>
    </li>

    <li class="two">
        <h5>Wysoko oprocentowane lokaty</h5>
    </li>

    <li class="three">
        <h5>Tanie kredyty</h5>
    </li>
</ol>
