@if (Request.IsAuthenticated) {
    <text>
        Witaj, @Html.ActionLink(User.Identity.Name, "Manage", "ProwadzenieRachunku", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "ProwadzenieRachunku", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Rejestracja", "Register", "ProwadzenieRachunku", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "ProwadzenieRachunku", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
