@{
    ViewBag.Title = "Widok Konta";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Saldo Konta:</h3>
<ol class="round">
    <li class="one">
        <h5>Rachunek: 2390,22 </h5>
        
    </li>

</ol>
