@{
    ViewBag.Title = "Pomoc";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        FAQ:
    </p>

    <p>
        1. Pytanie
    </p>

    <p>
        2. Pytanie
    </p>
</article>