@{
    ViewBag.Title = "Index";
}


<fieldset>
    <ol>
        <h4>Załóż lokatę</h4>
        <h4>Kwota</h4>
        <textarea rows="1" cols="6"></textarea>

        <h4>Liczba miesięcy:</h4>
        <select>
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="12">12</option>
            <option value="24">24</option>
        </select>
    </ol>
    <button type="button">Załóż lokatę</button>
</fieldset>
<h3> Lokaty</h3>
<table>
    <head>
        <title>Lokaty</title>
        <style type="text/css">
            table {
                border-collapse: collapse;
                width 1000px;
            }

            td {
                border: 2px solid #000000;
                padding: 5px;
            }
        </style>
    </head>
    <tbody>
        <tr class="header">
            <td>Od</td>
            <td>Do</td>
            <td>Kwota</td>
            <td>Oprocentowanie</td>
            <td>Anuluj lokatę</td>
        </tr>
        <tr>
            <td>01-01-2016</td>
            <td>01-02-2016</td>
            <td>2000</td>
            <td>2.65%</td>
            <td><button type="button">Anuluj</button></td>
        </tr>
        <tr>
            <td>15-10-2015</td>
            <td>15-04-2016</td>
            <td>1140</td>
            <td>3.13%</td>
            <td><button type="button">Anuluj</button></td>
        </tr>
    </tbody>
</table>
